Source: ros-lunar-costmap-converter
Section: misc
Priority: extra
Maintainer: Christoph Rösmann <christoph.roesmann@tu-dortmund.de>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin, ros-lunar-costmap-2d, ros-lunar-cv-bridge, ros-lunar-dynamic-reconfigure, ros-lunar-geometry-msgs, ros-lunar-message-generation, ros-lunar-pluginlib, ros-lunar-roscpp, ros-lunar-std-msgs
Homepage: http://wiki.ros.org/costmap_converter
Standards-Version: 3.9.2

Package: ros-lunar-costmap-converter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-costmap-2d, ros-lunar-cv-bridge, ros-lunar-dynamic-reconfigure, ros-lunar-geometry-msgs, ros-lunar-message-runtime, ros-lunar-pluginlib, ros-lunar-roscpp, ros-lunar-std-msgs
Description: A ros package that includes plugins and nodes to convert occupied costmap2d cells to primitive types.
